fastapi==0.63.0
python-multipart==0.0.5
pymysql==1.0.2
loguru==0.5.3
fastapi-cache==0.1.0
requests==2.26.0
uvicorn==0.14.0
jsonpath==0.82
lxml==4.6.3
jsonpath_ng==1.5.3
python-jenkins==1.7.0
sqlalchemy==1.4.23
python-multipart==0.0.5
rsa==4.7.2
xlrd==1.2.0
redis==3.5.3
DBUtils==2.0.2
aiofiles==0.7.0
jira==2.0.0
chinese_calendar==1.6.0
python-dateutil==2.8.1
